<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ink.mapper.StudentMapper">
    <select id="getAll" resultType="cn.ink.entity.Student">
        select * from student
    </select>
    <select id="get" resultType="cn.ink.entity.Student">
        select * from student where studentName = #{studentName} and LoginPwd = #{loginPwd}
    </select>
</mapper>